*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#maindash{
    height: 60px;
    background-color:rgb(15, 68, 89);
    color: white;
    font-weight: bolder;
    font-size: 25px;
    display: flex;
    justify-content: center;
    border: 1px solid gray;
    padding-top: 5px;
}
.container{
    background-color:beige;
    height:565px;
    border: 2px solid gray;
    color: white;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}

#dash2{
    
    justify-content:space-evenly;
    
}
.col-sm-3{
    border: 1px solid grey;
    height: 500px;  
    background-color: skyblue;
    
    /* display: flex;
    align-content: center;
    justify-content: center; */
}
#searchCity{
    border-radius: 8px;
    padding-left: 5px;
    padding-right: 5px;
}

#searchButton{
    border-radius: 7px;
    padding-left: 5px;
    padding-right: 5px;
}
#searchButton:hover{
    background-color: rgb(15, 68, 89);
    color: white;
}

.col-sm-8{
    border: 1px solid grey;
    height: 500px;
    margin-left: 0;
    background-color: skyblue;
    align-self: flex-end;
   }


#lowdash{
    /* border: 1px solid gray; */
    height: 250px;
    justify-content: space-around;
    margin-bottom: 40px;
}

#currentWeather{
    background-color:rgb(15, 68, 89);
    height:244px;
    background-image: url(https://images.unsplash.com/photo-1592210454359-9043f067919b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8d2VhdGhlcnxlbnwwfHwwfHw%3D&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin-top: -35px;
    color:black;
}
#currentWeather h4{
    color: white;
}
#date{
    color: white;
}
#time{
    color: white;
}
#currentWeatherItems{
    display: flex;
    justify-content: space-around;
    margin-left: 60px;
}
.weatherItems{
    background-color: skyblue;
    padding: 5px;
    color: white;
    border-radius: 10px;
    margin: 15px;
}

#CITY{
    color: white;
}

.future-forecast {
    background-color:rgb(15, 68, 89);
    height:215px ;
    border-radius: 10px;
    font-size: smaller;
}
