
#maindash{
    height: 60px;
    background-color:rgb(15, 68, 89);
    color: white;
    font-weight: bolder;
    font-size: 25px;
    display: flex;
    justify-content: center;
    border: 1px solid gray;
    padding-top: 5px;
}
.container{
    background-color:beige;
    height:800px;
    border: 2px solid gray;
    color: white;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}

#dash2{
    
    justify-content:space-evenly;
}
.col-3{
    border: 1px solid grey;
    height: 500px;  
    background-color: skyblue;
}

.col-8{
    border: 1px solid grey;
    height: 500px;
    margin-left: 0;
    background-color: skyblue;
    align-self: flex-end;
}

#lowdash{
    /* border: 1px solid gray; */
    height: 250px;
    justify-content: space-around;
    margin-bottom: 40px;
}
#currentWeather{
    background-color:rgb(15, 68, 89);
    height:235px ;
    
}

#one{
    background-color: rgb(3, 3, 83);
    height:150px ;

}
#two{
    background-color:rgb(3, 3, 83);
    height:150px ;
}
#three{
    background-color: rgb(3, 3, 83);
    height:150px ;
}
#four{
    background-color: rgb(3, 3, 83);
    height:150px ;
}
#five{
    background-color: rgb(3, 3, 83);
    height:150px ;
}